In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv('exp_seq.LUAD-US.tsv', sep='\t')

In [ ]:
len(df['icgc_sample_id'].unique())

In [ ]:
df['reference_sample_type']

In [ ]:
df.columns

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
df.head()

In [ ]:
df1 = df[['submitted_sample_id', 'gene_id', 'raw_read_count']]

In [ ]:
df1.head()

In [ ]:
df1.to_csv('icgc_data/icgc_origin.csv')

In [ ]:
df_final = pd.DataFrame()

In [ ]:
sample_ids = df1['submitted_sample_id'].unique()

In [ ]:
df_final['sample_id'] = sample_ids

In [ ]:
df1[df1['submitted_sample_id'] == 'TCGA-53-7813-01A-11R-2170-07']

In [ ]:
df_final.loc[df_final['sample_id'] == 'TCGA-53-7813-01A-11R-2170-07', 'age'] = 1

In [ ]:
x = df1[(df1['submitted_sample_id'] == 'TCGA-53-7813-01A-11R-2170-07') &  (df1['gene_id'] == 'YIPF2')]['raw_read_count']

In [ ]:
df_final.loc[df_final['sample_id'] == 'TCGA-53-7813-01A-11R-2170-07', 'ff'] = x.values[0]

In [ ]:
df1 = pd.read_csv('icgc_data/icgc_origin.csv', index_col='Unnamed: 0')

In [ ]:
df1.head()

In [ ]:
def preProcessData(df):
    # df 代表原始数据；需要处理成
    df_v2 = pd.DataFrame()
    sample_ids = df['submitted_sample_id'].unique()
    df_v2['sample_id'] = sample_ids
    for sample_id in list(sample_ids):
        df_tmp = df[df['submitted_sample_id'] == sample_id]
        gene_names = df_tmp['gene_id'] # 获取对应的gene数据
        #print(gene_names)
        for index , row in df_tmp.iterrows():
            #print('sample id :{}, gene_id :{}, read_count:{}'.format(sample_id, row['gene_id'], row['raw_read_count']))
            df_v2.loc[df_v2['sample_id'] == sample_id, row['gene_id']] = row['raw_read_count']
    #return df_v2

In [ ]:
df2 = preProcessData(df1)

In [ ]:
df2.head()

In [ ]:
df3 = df1.pivot_table(index='submitted_sample_id',columns='gene_id',values='raw_read_count')

In [ ]:
df3.head()

In [ ]:
df1.head()

In [ ]:
df1 = df1[df1['gene_id'] != '?']

In [ ]:
df2 = df1.set_index(['submitted_sample_id', 'gene_id'])['raw_read_count']

In [ ]:
df2.index.unique()

In [ ]:
df3 = df2.unstack()

In [ ]:
df2 = df1.pivot_table(index='submitted_sample_id', columns='gene_id', values='raw_read_count')

In [ ]:
duplicate_bool = df1.duplicated(subset=['submitted_sample_id','gene_id'], keep='first')
duplicate = df1.loc[duplicate_bool == True]

In [ ]:
duplicate

In [64]:
df2.head()

gene_id,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,AAAS,...,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,psiTPTE22,tAKR
submitted_sample_id,,,,,,,,,,,,,,,,,,,,,
TCGA-05-4244-01A-01R-1107-07,74.0,0.0,5.0,388.0,28202.0,1.0,375.0,3.0,0.0,1865.0,...,114.0,838.0,2748.0,2.0,3117.0,8130.0,2496.0,1648.0,19.0,0.0
TCGA-05-4249-01A-01R-1107-07,373.0,1.0,5.0,276.0,79863.0,5.0,1797.0,2.0,1.0,1877.0,...,193.0,1533.0,3663.0,63.0,2446.0,7303.0,3535.0,2144.0,559.0,0.0
TCGA-05-4250-01A-01R-1107-07,153.0,0.0,0.0,455.0,51097.0,0.0,1075.0,3.0,4.0,1775.0,...,181.0,1102.0,2545.0,80.0,1433.0,16398.0,3530.0,1607.0,19.0,0.0
TCGA-05-4382-01A-01R-1206-07,609.0,0.0,0.0,468.0,97475.0,20.0,2317.0,9.0,6.0,2542.0,...,169.0,1449.0,3956.0,271.0,3795.0,28291.0,4886.0,2774.0,147.0,0.0
TCGA-05-4384-01A-01R-1755-07,208.0,0.0,0.0,143.0,79090.0,0.0,250.0,3.0,0.0,1090.0,...,131.0,922.0,2162.0,13.0,1275.0,5470.0,2844.0,1184.0,619.0,0.0

In [75]:
def preProcessData(df):
    # 输入原始数据，做列转行
    # 1， 移除非法数据 gene_id = ?
    df = df[df['gene_id'] != '?']
    # 2. 把geneid 打平到行上
    df1 = df.pivot_table(index='submitted_sample_id', columns='gene_id', values='raw_read_count')
    
    # 3. 打上label ，查看是否是患病患者
    df1['name'] = df1.index
    df1['label'] = df1.apply(lambda x : int('11' not in x.name.split('-')[3]), axis=1)
    
    
    return df1

In [76]:
df2 = preProcessData(df1)

In [77]:
df2.head()

gene_id,A1BG,A1CF,A2BP1,A2LD1,A2M,A2ML1,A4GALT,A4GNT,AAA1,AAAS,...,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3,psiTPTE22,tAKR,name,label
submitted_sample_id,,,,,,,,,,,,,,,,,,,,,
TCGA-05-4244-01A-01R-1107-07,74.0,0.0,5.0,388.0,28202.0,1.0,375.0,3.0,0.0,1865.0,...,2748.0,2.0,3117.0,8130.0,2496.0,1648.0,19.0,0.0,TCGA-05-4244-01A-01R-1107-07,1
TCGA-05-4249-01A-01R-1107-07,373.0,1.0,5.0,276.0,79863.0,5.0,1797.0,2.0,1.0,1877.0,...,3663.0,63.0,2446.0,7303.0,3535.0,2144.0,559.0,0.0,TCGA-05-4249-01A-01R-1107-07,1
TCGA-05-4250-01A-01R-1107-07,153.0,0.0,0.0,455.0,51097.0,0.0,1075.0,3.0,4.0,1775.0,...,2545.0,80.0,1433.0,16398.0,3530.0,1607.0,19.0,0.0,TCGA-05-4250-01A-01R-1107-07,1
TCGA-05-4382-01A-01R-1206-07,609.0,0.0,0.0,468.0,97475.0,20.0,2317.0,9.0,6.0,2542.0,...,3956.0,271.0,3795.0,28291.0,4886.0,2774.0,147.0,0.0,TCGA-05-4382-01A-01R-1206-07,1
TCGA-05-4384-01A-01R-1755-07,208.0,0.0,0.0,143.0,79090.0,0.0,250.0,3.0,0.0,1090.0,...,2162.0,13.0,1275.0,5470.0,2844.0,1184.0,619.0,0.0,TCGA-05-4384-01A-01R-1755-07,1

In [78]:
df2.to_csv('icgc_data/icgc_train_data.csv')

In [80]:
df2[df2['label'] == 1]['label'].size

488

In [1]:
df2.size

NameError: name 'df2' is not defined

In [3]:
df3 = pd.read_csv('icgc_train_data_v2.csv')

In [4]:
len(df3)

543

In [5]:
df3[df3['label'] == 1]['label'].size

488

In [6]:
df3[df3['label'] == 0]['label'].size

55

In [7]:
len(df3.columns)

20503